body {
    background-color: #d8d7d1;
    margin: 0;
    padding: 0;
    font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
    font-size: 14px;
    line-height: 150%;
}

h1 {color: #efeee7;
background-color: #222121;
margin: 0;
text-align: center;
padding-top: 20px;
padding-bottom:20px;
font-size: 28px;
}

a {
    color:#d21034
}

.container {
    width: 1024px;
    margin: 0 auto;
}

h2 {
    margin-left: 20px;
   font-size: 24px;
}

#main-bio,
#contact-info,
#bio-image { 
   Float: Left;
}

#main-bio {
    text-align: justify;
    width: 70%; 
}
#contact-info {
     width: 30%;
}
#bio-image {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 200px;
}
